    </div>
</main>

<footer class="flex-center">
    <div class="container">
        <p>
            &copy;
            <% if (locals.year) { %>
                <%= year %>
            <% } else { %>
                2024
            <% } %>
            Alex Mooney
        </p>
    </div>
</footer>

<script src="/js/main.js"></script>
</body>
</html>